body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    margin-top: 50px;
}

.box {
    width: 200px;
    height: 100px;
    background-color: #4CAF50; 
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    border: 2px solid #388E3C;
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
}

.translate:hover {
    transform: translate(30px, 20px);
    background-color: #2196F3; 
}

.rotate:hover {
    transform: rotate(45deg);
    background-color: #FF9800; 
}

.scale:hover {
    transform: scale(1.5);
    background-color: #9C27B0; 
}

.skew:hover {
    transform: skew(20deg);
    background-color: #E91E63; 
}